GROQ_API_KEY=
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/pdfdb

SEARCH_BACKEND=elasticsearch
EMBEDDING_DIM=384
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=pdf_chunks